@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Urbanist, sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* animation */
.dashed-line::after {
  content: "";
  display: block;
  height: 60px; /* Adjust height as needed */
  width: 2px; /* Width of the line */
  margin: 0 auto; /* Centers the line horizontally */
  background: repeating-linear-gradient(
    to bottom,
    rgb(209 213 219) 0,
    rgb(209 213 219) 6px,
    transparent 9px,
    transparent 4px
  );
}
